@model RealtyFlatViewModel
<div class="container">
    @foreach (var el in Model.realtyFlat.listRealtyItems)
            {
    <div class="alert alert-warning mt-3">
        <b>Квартира:</b> @el.flat.name<br />
        <b>Стоимость:</b> @el.flat.price.ToString("c")
    </div> 
            }
    <br />
    <a class="btn btn-danger" asp-controller="Order" asp-action="Checkout">Проконсультироваться</a>
</div>